@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Lyceum of Alabang Portal</h1>

    <div class=" ">
        <a class="btn btn-dark" asp-area="" asp-controller="Admins" asp-action="Index">Admin</a>
        <a class="btn btn-success" asp-area="" asp-controller=" " asp-action=" ">Student</a>
    </div>
    
</div>
